<div class="col-7 pt-3">
    <dl class="row">
        <dt class="col-4">Title</dt>
        <dd class="col-8">@Model.Title</dd>

        <dt class="col-4">Director</dt>
        <dd class="col-8">@Model.Director</dd>

        <dt class="col-4">Year</dt>
        <dd class="col-8">@Model.Year</dd>

        <dt class="col-4">Budget ($m)</dt>
        <dd class="col-8">@Model.Budget</dd>

        <dt class="col-4">Genre</dt>
        <dd class="col-8">@Model.Genre</dd>

        <dt class="col-4">Cast</dt>
        <dd class="col-8">@Model.Cast</dd>

        <dt class="col-4">Rating</dt>
        <dd class="col-8">@Model.Rating</dd>

        <dt class="col-4">Plot</dt>
        <dd class="col-8">@Model.Plot</dd>
    </dl>
</div>