<h3 class="p-3 ">Reviews</h3>
<table class="table">
    <thead class="bg-success" style="color:whitesmoke">
        <tr>
            <th style="width: 20%">Created</th>
            <th style="width: 15%">Name</th>
            <th style="width: 40%">Comment</th>
            <th style="width: 15%">Rating 1-10</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.Reviews)
        {
            <tr>
                <td>@r.CreatedOn</td>
                <td>@r.Name</td>
                <td>@r.Comment</td>
                <td>@r.Rating</td>
                <td>
                    <a class="btn-sm btn-danger" asp-action="DeleteReview" asp-route-id="@r.Id" class="btn-sm btn-danger">Delete</a>
                    
                </td>
            </tr>
            
        }
    </tbody>
</table>